@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

input {
  outline: none; }

#taoNiu_1 {
  background-color: #f3f3f3;
  margin: 0 auto;
  width: 1260px;
  height: 32px;
  line-height: 32px; }
  #taoNiu_1 ul:first-child {
    float: left;
    font-size: 12px;
    margin-left: 30px; }
    #taoNiu_1 ul:first-child li {
      float: left;
      margin-left: 10px; }
      #taoNiu_1 ul:first-child li a {
        color: #666; }
    #taoNiu_1 ul:first-child li:nth-child(2) a {
      color: #f10; }
  #taoNiu_1 ul:last-child {
    float: right;
    margin-right: 30px;
    font-size: 12px; }
    #taoNiu_1 ul:last-child li {
      float: left;
      margin-right: 10px; }
      #taoNiu_1 ul:last-child li a {
        color: #666; }
      #taoNiu_1 ul:last-child li img {
        vertical-align: middle; }
    #taoNiu_1 ul:last-child li:last-child a {
      color: #f10; }

#taoNiu_2 {
  width: 1260px;
  height: 74px;
  margin: 0 auto;
  background: #fff; }
  #taoNiu_2 a {
    float: left;
    margin-left: 30px; }
  #taoNiu_2 div {
    border: 2px solid #f10;
    float: left;
    margin-left: 100px;
    margin-top: 18px;
    width: 380px;
    height: 38px; }
    #taoNiu_2 div p {
      float: left;
      width: 58px;
      height: 38px;
      background: #f6f6f6;
      text-align: center;
      line-height: 38px; }
    #taoNiu_2 div input:nth-last-child(2) {
      float: left;
      width: 260px;
      height: 38px;
      border: none; }
    #taoNiu_2 div input:last-child {
      float: right;
      width: 62px;
      height: 38px;
      background: #f10;
      color: #fff;
      font-size: 18px;
      border: none;
      cursor: pointer; }
  #taoNiu_2 img:last-child {
    float: right;
    margin-right: 30px;
    margin-top: 20px; }

#taoNiu_3 {
  width: 1260px;
  height: 38px;
  margin: 0 auto;
  background: #443e56;
  font-size: 15px; }
  #taoNiu_3 div {
    float: left;
    margin-left: 30px;
    width: 200px;
    height: 38px;
    background: #332d43;
    padding-left: 30px;
    box-sizing: border-box;
    line-height: 38px; }
    #taoNiu_3 div span {
      color: #f10;
      margin-right: 20px; }
    #taoNiu_3 div a {
      color: #fff; }
  #taoNiu_3 ul:nth-last-child(2) {
    float: left;
    margin-left: 20px; }
    #taoNiu_3 ul:nth-last-child(2) li {
      float: left;
      margin-left: 20px; }
      #taoNiu_3 ul:nth-last-child(2) li a {
        color: #fff;
        line-height: 38px;
        border-bottom: none; }
      #taoNiu_3 ul:nth-last-child(2) li a:hover {
        color: #fff;
        line-height: 38px;
        border-bottom: 1px solid #fff; }
    #taoNiu_3 ul:nth-last-child(2) li:first-child a {
      border-bottom: 1px solid #fff; }
  #taoNiu_3 ul:last-child {
    float: right;
    margin-right: 30px; }
    #taoNiu_3 ul:last-child li {
      float: left;
      margin-right: 20px; }
      #taoNiu_3 ul:last-child li a {
        color: #fff;
        line-height: 38px;
        border-bottom: none; }
      #taoNiu_3 ul:last-child li a:hover {
        color: #fff;
        line-height: 38px;
        border-bottom: 1px solid #fff; }
      #taoNiu_3 ul:last-child li img {
        vertical-align: middle; }

.taoNiu_4 {
  width: 720px;
  margin: 50px auto;
  text-align: center; }
  .taoNiu_4 .cartHead {
    border-bottom: 1px solid black;
    height: 50px; }
    .taoNiu_4 .cartHead li {
      width: 120px;
      height: 50px;
      float: left;
      font: 26px/50px "妤蜂綋";
      text-align: center; }
  .taoNiu_4 .goodInfo {
    border-bottom: 1px solid black;
    height: 40px; }
    .taoNiu_4 .goodInfo li {
      float: left;
      width: 120px;
      height: 40px;
      font: 14px/40px "";
      text-align: center; }
      .taoNiu_4 .goodInfo li input {
        width: 30px;
        text-align: center; }
      .taoNiu_4 .goodInfo li img {
        width: 30px;
        height: 30px;
        margin-top: 5px;
        text-align: center; }
    .taoNiu_4 .goodInfo .num a {
      display: inline-block;
      width: 10px;
      height: 20px;
      font: 12px/20px "";
      background: #ddd;
      text-decoration: none; }
  .taoNiu_4 .blank {
    height: 50px;
    font: 26px/50px "妤蜂綋";
    text-align: center;
    border-top: none;
    display: none; }

.taoNiu_5 {
  text-align: center;
  margin-bottom: 50px; }
  .taoNiu_5 input {
    display: inline-block;
    width: 100px;
    height: 30px;
    cursor: pointer; }

/*# sourceMappingURL=buy.css.map */
