* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

input {
  outline: none; }

#taoNiu_1 {
  background-color: #f3f3f3;
  margin: 0 auto;
  width: 1260px;
  height: 32px;
  line-height: 32px; }
  #taoNiu_1 ul:first-child {
    float: left;
    font-size: 12px;
    margin-left: 30px; }
    #taoNiu_1 ul:first-child li {
      float: left;
      margin-left: 10px; }
      #taoNiu_1 ul:first-child li a {
        color: #666; }
    #taoNiu_1 ul:first-child li:nth-child(2) a {
      color: #f10; }
  #taoNiu_1 ul:last-child {
    float: right;
    margin-right: 30px;
    font-size: 12px; }
    #taoNiu_1 ul:last-child li {
      float: left;
      margin-right: 10px; }
      #taoNiu_1 ul:last-child li a {
        color: #666; }
      #taoNiu_1 ul:last-child li img {
        vertical-align: middle; }
    #taoNiu_1 ul:last-child li:last-child a {
      color: #f10; }

#taoNiu_2 {
  width: 1260px;
  height: 74px;
  margin: 0 auto; }
  #taoNiu_2 a {
    float: left;
    margin-left: 30px; }
  #taoNiu_2 div {
    border: 2px solid #f10;
    float: left;
    margin-left: 100px;
    margin-top: 18px;
    width: 380px;
    height: 38px; }
    #taoNiu_2 div p {
      float: left;
      width: 58px;
      height: 38px;
      background: #f6f6f6;
      text-align: center;
      line-height: 38px; }
    #taoNiu_2 div input:nth-last-child(2) {
      float: left;
      width: 260px;
      height: 38px;
      border: none; }
    #taoNiu_2 div input:last-child {
      float: right;
      width: 62px;
      height: 38px;
      background: #f10;
      color: #fff;
      font-size: 18px;
      border: none;
      cursor: pointer; }
  #taoNiu_2 img:last-child {
    float: right;
    margin-right: 30px;
    margin-top: 20px; }

#taoNiu_3 {
  width: 1260px;
  height: 38px;
  margin: 0 auto;
  background: #443e56;
  font-size: 15px; }
  #taoNiu_3 div {
    float: left;
    margin-left: 30px;
    width: 200px;
    height: 38px;
    background: #332d43;
    padding-left: 30px;
    box-sizing: border-box;
    line-height: 38px; }
    #taoNiu_3 div span {
      color: #f10;
      margin-right: 20px; }
    #taoNiu_3 div a {
      color: #fff; }
  #taoNiu_3 ul:nth-last-child(2) {
    float: left;
    margin-left: 20px; }
    #taoNiu_3 ul:nth-last-child(2) li {
      float: left;
      margin-left: 20px; }
      #taoNiu_3 ul:nth-last-child(2) li a {
        color: #fff;
        line-height: 38px;
        border-bottom: none; }
      #taoNiu_3 ul:nth-last-child(2) li a:hover {
        color: #fff;
        line-height: 38px;
        border-bottom: 1px solid #fff; }
    #taoNiu_3 ul:nth-last-child(2) li:first-child a {
      border-bottom: 1px solid #fff; }
  #taoNiu_3 ul:last-child {
    float: right;
    margin-right: 30px; }
    #taoNiu_3 ul:last-child li {
      float: left;
      margin-right: 20px; }
      #taoNiu_3 ul:last-child li a {
        color: #fff;
        line-height: 38px;
        border-bottom: none; }
      #taoNiu_3 ul:last-child li a:hover {
        color: #fff;
        line-height: 38px;
        border-bottom: 1px solid #fff; }
      #taoNiu_3 ul:last-child li img {
        vertical-align: middle; }

#taoNiu_4 {
  width: 1260px;
  height: 400px;
  margin: 0 auto; }
  #taoNiu_4 ul {
    float: left;
    margin-left: 30px;
    width: 198px;
    height: 399px;
    font-size: 15px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee; }
    #taoNiu_4 ul li {
      padding-left: 20px;
      box-sizing: border-box;
      margin-top: 15px;
      width: 200px; }
      #taoNiu_4 ul li a {
        color: #000; }
      #taoNiu_4 ul li p {
        margin-left: 35px;
        color: #ccc;
        font-size: 14px;
        display: none; }
    #taoNiu_4 ul li:hover {
      background: #eee;
      height: 55px;
      padding-top: 3px;
      margin-top: 0px; }
      #taoNiu_4 ul li:hover p {
        display: block;
        margin-top: 5px; }
    #taoNiu_4 ul img {
      vertical-align: middle;
      margin-right: 10px; }
  #taoNiu_4 div {
    width: 100%;
    height: 260px; }
    #taoNiu_4 div a:first-child img {
      width: 800px;
      display: block;
      float: left; }
    #taoNiu_4 div a:last-child img {
      width: 200px;
      height: 257px;
      display: block;
      float: left; }
  #taoNiu_4 section {
    width: 100%;
    margin-top: 5px; }
    #taoNiu_4 section img {
      height: 100%;
      display: block;
      float: left; }
    #taoNiu_4 section img:hover {
      margin-left: -5px;
      margin-right: 5px; }

#taoNiu_5 {
  margin: 0 auto;
  width: 1200px;
  height: 80px;
  border-bottom: 8px solid #ccc; }
  #taoNiu_5 img {
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 30px; }
  #taoNiu_5 p {
    float: right;
    margin-right: 30px;
    margin-top: 50px;
    font-weight: bold; }
    #taoNiu_5 p a {
      color: #333; }

#taoNiu_6 {
  margin: 0 auto;
  width: 1200px; }
  #taoNiu_6 ul {
    width: 280px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    position: relative; }
    #taoNiu_6 ul li {
      border: 1px solid #eee;
      margin-top: 20px;
      width: 278px;
      height: 360px;
      position: relative; }
      #taoNiu_6 ul li a {
        color: #333; }
        #taoNiu_6 ul li a img {
          width: 278px;
          height: 280px; }
        #taoNiu_6 ul li a p {
          font-size: 15px;
          width: 276px;
          height: 20px;
          padding-left: 5px;
          box-sizing: border-box;
          margin-top: 5px;
          margin-bottom: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
      #taoNiu_6 ul li #ospan {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 40px;
        height: 40px;
        background: #26caa1;
        color: #fff;
        font-size: 14px;
        text-align: center; }
      #taoNiu_6 ul li #ospan1 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 80px;
        height: 40px;
        background: #eb1610;
        color: #fff;
        font-size: 14px;
        text-align: center; }
      #taoNiu_6 ul li #ospan2 {
        color: #f10;
        display: block;
        float: left; }
        #taoNiu_6 ul li #ospan2 span {
          font-size: 28px; }
      #taoNiu_6 ul li #ospan3 {
        display: block;
        margin-left: 10px;
        margin-top: 3px;
        float: left;
        width: 50px;
        height: 50px;
        font-size: 12px;
        text-align: center; }
        #taoNiu_6 ul li #ospan3 #ospan3_1 {
          color: #f10; }
        #taoNiu_6 ul li #ospan3 #ospan3_2 {
          text-decoration: line-through;
          color: #666; }
      #taoNiu_6 ul li #oimg1 {
        position: absolute;
        right: 20px;
        bottom: 10px; }
      #taoNiu_6 ul li #op1 {
        width: 90px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        position: absolute;
        right: 20px;
        bottom: 10px;
        background: #e6134a;
        color: #fff;
        display: none; }
    #taoNiu_6 ul li:hover {
      border: 1px solid #f10; }
      #taoNiu_6 ul li:hover #oimg1 {
        display: none; }
      #taoNiu_6 ul li:hover #op1 {
        display: block; }

#taoNiu_7 {
  position: fixed;
  z-index: 2;
  top: 250px;
  right: -20px;
  display: none; }
  #taoNiu_7 #img1 {
    width: 50px;
    margin-bottom: 20px; }
  #taoNiu_7 #img2 {
    width: 250px;
    height: 330px;
    position: absolute;
    top: -100px;
    left: -250px;
    display: none; }
  #taoNiu_7 #img3 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 60px;
    left: -200px;
    display: none; }
  #taoNiu_7 p {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    background: #b2b2b2;
    position: relative; }
    #taoNiu_7 p a {
      color: #fff;
      font-size: 10px;
      text-align: center; }
      #taoNiu_7 p a img {
        width: 40px;
        height: 40px;
        margin-bottom: 0px;
        position: absolute; }
      #taoNiu_7 p a span {
        display: block;
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 4px;
        box-sizing: border-box; }
  #taoNiu_7 p:hover {
    background: #666; }
    #taoNiu_7 p:hover img {
      display: none; }

#taoNiu_8 {
  width: 1260px;
  height: 40px;
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  display: none; }
  #taoNiu_8 li {
    width: 60px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    border-radius: 5px;
    float: left;
    margin-top: 7px;
    margin-left: 20px; }
    #taoNiu_8 li a {
      color: #333;
      font-size: 15px; }
  #taoNiu_8 li:hover a {
    color: #f61c5f; }
  #taoNiu_8 li:first-child {
    background: #f61c5f; }
    #taoNiu_8 li:first-child a {
      color: #fff; }

/*# sourceMappingURL=index.css.map */
